[Unit]
Description=PiController
After=network.target docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/home/josh/.nvm/versions/node/v22.14.0/bin/node /home/josh/scripts/PiController/api/dist/index.js

[Install]
WantedBy=default.target
